div#shopkart-title {
  width: 1260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

svg.star-line {
  left: unset;
  top: unset;
  width: unset;
  height: unset;
  border-top: unset;
  position: unset;
}

div#left > h1 {
  font-family: "Syne-Regular";
  font-weight: 100;
  padding: unset;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  -webkit-text-stroke: 1px;
  text-transform: uppercase;
}

/* Style for the navbar */

.burger-menu {
  display: none; /* Initially hidden on larger screens */
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.navbar li {
  float: left;
  padding: 10px 40px;
  text-transform: uppercase;
}

ul.navbar li a,
.dropdown-content a {
  display: block;
  text-align: center;
  padding: 14px 16px 0px 16px;
  text-decoration-line: none;
  color: inherit;
}

.navbar > li > a {
  -webkit-text-stroke: 1px;
}

.navbar > li > a:hover {
  -webkit-text-stroke: 0px;
}

#navbar > ul > li.dropdown > div > a {
  font-size: 14px;
}

ul.navbar li a:hover,
.dropdown-content a:hover {
  /* background-color: #555; */
}

/* Style for the dropdown menu */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media query to show/hide elements on small screens */
@media screen and (max-width: 768px) {
  .navbar ul.navbar {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

/* iphone 14 */
@media only screen and (max-width: 391px) {
  div#left > h1 {
    padding: 12px;
  }

  div#right {
    display: none;
  }

  div#shopkart-title {
    width: 390px;
  }

  svg.star-line {
    left: 12px;
    top: -12px;
    width: 366px;
    height: 0px;
    border-top: 1px solid white;
    position: relative;
  }

  button.burger-menu {
    display: block;
    position: absolute;
    top: 65px;
    right: 24px;
    height: 24px;
    width: 30px;
    background-color: transparent;
    background-image: url("../../assets/svgs/hamburger menu.svg");
    border: 0px;
    background-repeat: no-repeat;
  }

  /* ul.navbar {
    display: none; 
  } */

  ul.navbar.open {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    width: 390px;
    height: 680px;
    z-index: 100;
    position: absolute;
    top: 103px;
    left: 0px;
    background-color: #161615;
  }
}
