<div class="container" id="container">
    <div>
        <div class="innercontainer" id="innercontainer">
            <div class="formcontainer" id="formcontainer">
                <div class="left" id="left">
                    <h2>Newsletter</h2>
                    <h3>Get news about articles and updates in your inbox.</h3>
                </div>
                <div class="right" id="right">
                    <!-- <form method="post" action="#">
                        <input type="text" placeholder="NAME" required>
                        <input type="text" placeholder="EMAIL" required>
                        <input type="text" placeholder="MESSAGE" required>
                        <input type="submit" value="SEND" class="send button" id="send-button">
                    </form> -->
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" placeholder="NAME" formControlName="name">
                            <!-- Display validation error message -->
                            <div class="alert"
                                *ngIf="myForm.get('name').hasError('required') && myForm.get('name').touched">
                                Name is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="EMAIL" formControlName="email">
                            <!-- Display validation error message -->
                            <div class="alert"
                                *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched">
                                Email is required.
                            </div>
                            <div class="alert"
                                *ngIf="myForm.get('email').hasError('email') && myForm.get('email').touched">
                                Invalid email format.
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="MESSAGE" formControlName="message">
                            <!-- Display validation error message -->
                            <div class="alert"
                                *ngIf="myForm.get('message').hasError('required') && myForm.get('message').touched">
                                Message is required.
                            </div>
                        </div>

                        <input type="submit" value="SEND" class="send button" id="send-button">
                    </form>

                </div>
            </div>
            <h1 class="calltoaction" id="calltoaction">
                <div>
                    <h1 class="part1">GET</h1>
                    <h1 class="part2">IN TOUCH</h1>
                </div>
            </h1>
        </div>
    </div>
    <footer>
        <p>Copyright 2022 All Right Reserved By SG</p>
    </footer>
</div>